{% extends "base.html" %}

{% block wrapper %}
    <!-- Main Header -->
    <header class="main-header">
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}
    </header>
    <!-- End Main Header -->
    <!-- =============================================== -->

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% block sidebar %}
                {% include "left_sidebar.html" %}
            {% endblock sidebar %}
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- End Left side column -->
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content_wrapper %}
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header %}
                    {% block content_header_title %}
                        <h1>
                            Page Header <small>Optional description</small>
                        </h1>
                    {% endblock content_header_title %}
                    {% block content_header_breadcrumbs %}
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level 1</a></li>
                            <li><a href="#">Level 2</a></li>
                            <li class="active">Here</li>
                        </ol>
                    {% endblock content_header_breadcrumbs %}
                {% endblock content_header %}
            </section> <!-- End Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">
                {% block content %}{% endblock content %}
            </section><!-- /.content -->
        {% endblock content_wrapper %}
    </div><!-- /.content-wrapper -->
    <!-- End Content Wrapper -->
    <!-- =============================================== -->

    <!-- Main Footer -->
    {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Developed by <a href="http://turpialdev.com" title="http://turpialdev.com" target="_blank">Turpial Development</a></b>
            </div>
            {% block footer_copyright %}
                <strong>Copyright &copy; {% now "Y" %} CLIENT.</strong> All rights reserved.
            {% endblock footer_copyright %}
        </footer>
    {% endblock footer %}
    <!-- End Main Footer -->
    <!-- =============================================== -->

    <!-- Control Sidebar -->
    {% block control_sidebar %}
        <aside class="control-sidebar control-sidebar-dark">
            {% include "right_sidebar.html" %}
        </aside><!-- /.control-sidebar -->
        <!--
            Add the sidebar's background. This div must be placed
            immediately after the control sidebar
        -->
        <div class="control-sidebar-bg"></div>
    {% endblock control_sidebar %}
    <!-- End Control Sidebar -->
    <!-- =============================================== -->
{% endblock wrapper %}
