{% extends 'dashboard/layout.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- This html works for create and update a case. For update a case, may create, edit and eliminate all update associated to the case -->
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        {% if case %}
                            <div class=" pull-left">
                                <h3 class="box-title">Case Details</h3>
                            </div>
                            <div class="text-right">
                                <input class="btn btn-flat btn-primary" type="submit" value="Save" id="create" name='submit'>
                            </div>
                            
                            
                        {% else %}
                            <div class=" pull-left">
                                <h3 class="box-title">Create New Case</h3>
                            </div>
                            <div class="text-right">
                                <input class="btn btn-flat btn-primary" type="submit" value="Create" id="create">
                            </div>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                {% for non_field_error in form.non_field_errors %}
                                    {{ non_field_error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-6">
                                {% bootstrap_field form.start_date %}
                            </div>
                            <div class="col-xs-6">
                                {% bootstrap_field form.end_date %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                {% bootstrap_field form.open_ended %}
                                {% bootstrap_field form.draft %}
                            </div>
                            <div class="col-xs-9">
                                {% bootstrap_field form.category %}
                            </div>
                        </div>
                        
                        
                        
                        {% bootstrap_field form.title %}
                        {% bootstrap_field form.description %}

                        

                        
                    </div>
                </div>
                <div class="box box-solid box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Translations (Optional)</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        {% bootstrap_field form.title_de %}
                        {% bootstrap_field form.description_de %}
                    </div>
                    <!-- /.box-body -->
                </div>

                <input id="id_events" type="text" class="hidden" name="events">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Select Event(s)</h3>
                    </div>
                    <div class="box-body">
                        <div class="responsive-table">
                            <table id="event_id" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <th>ID</th>
                                    <th>Identification</th>
                                    <th>ISP</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </thead>
                                <tfoot>
                                    <th>ID</th>
                                    <th>Identification</th>
                                    <th>ISP</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tfoot>

                                {% if case %}  
                                <!-- Only for Update a case Begin-->
                                    <tbody>
                                    {% for event in events %}
                                    <tr {% if event in case.events.all %}
                                        class="selected"
                                    {% endif %}>
                                        <td>{{event.id}}</td>
                                        <td><a href="{% url 'events:event_front:detail-event' event.id %}" target="_blank">{{event.identification}}</a></td>
                                        <td>{{event.isp}}</td>
                                        <td>{{event.start_date.date}}</td>
                                        <td>
                                            {% if event.end_date %}
                                                {{event.end_date.date}}
                                            {% else %}
                                                Open Event
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <!-- Only for Update a case End-->
                                {% else %} 
                                <!-- Only for Create a case Begin-->
                                <tbody>
                                    {% for event in events %}
                                    <tr>
                                        <td>{{event.id}}</td>
                                        <td>{{event.identification}}</td>
                                        <td>{{event.isp}}</td>
                                        <td>{{event.start_date.date}}</td>
                                        <td>
                                            {% if event.end_date %}
                                                {{event.end_date.date}}
                                            {% else %}
                                                Open Event
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <!-- Only for Create a case End-->
                                {% endif %}

                            </table>
                        </div>
                    </div>
                </div>
                <!-- Only for Update a case Begin-->
                {% if case %}
                    {{ update_form.management_form }} 
                    {{ update_form.non_field_errors }}
                    
                    <div class="box box-solid box-primary collapsed-box">
                         <div class="box-header with-border">
                            <h3 class="box-title">Case Update(s)</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="items-form-container">
                                {% for update in update_form %}
                                <div class="box box-solid box-primary collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Update: {{update.title.value}}</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class='update-form'>
                                        {% bootstrap_form update %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="#" class="add-item">Add Update ..</a>
                        </div>
                    </div>

                {% endif %}
                <!-- Only for Update a case End-->
                
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('#id_start_date').datepicker({
        });
        $('#id_end_date').datepicker({
        });
        $('.update_date').datepicker({
        });
        var table = $('#event_id').DataTable({
            initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    if(column.search() === '^'+d+'$'){
                        select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
                    } else {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    }
                    } );
                } );
            }
        });
        $( '#id_events' ).val('');

        $('#event_id tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            $( '#id_events' ).val('');
        });

        $(document).on('click', '.add-item', function () {
            $('.update_date').datepicker({
            });
        });

        $('#create').click(function(e) {
                /* Act on the event */
                var event = [];
                table.rows('.selected').eq(0).each(function(index) {
                    var row = table.row(index);
                    var id = row.data()[0];
                    event.push(id);
                });
                $('input[name="events"]').val(event);
        });

        $('.add-item').click(function(ev) {
            ev.preventDefault();
            var count = $('#items-form-container').children().length;
            var tmplMarkup = $('#item-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#items-form-container').append(compiledTmpl);

            // update form count
            $('#id_updates-TOTAL_FORMS').attr('value', count+1);
        });
    })
</script>
<script type="text/html" id="item-template">

    <div id="item-__prefix__">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">New Update</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class='update-form'>
                {% if case %}
                {% bootstrap_form update_form.empty_form %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
       
</script>
{% endblock %}

