{% extends 'dashboard/layout.html' %}
{% load bootstrap3 %}

{% block content %}
<!-- This html works for create and update a case. For update a case, may create, edit and eliminate all update associated to the case -->
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        {% if case %}
                            <h3 class="box-title">Edit Case</h3>
                        {% else %}
                            <h3 class="box-title">Create New Case</h3>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        {% bootstrap_form form %}
                        <!-- Only for Update a case Begin-->
                        {% if case %}
                            {{ update_form.management_form }} 
                            {{ update_form.non_field_errors }}
                            
                            <div class="box box-solid box-primary">
                                 <div class="box-header with-border">
                                    <h3 class="box-title">Update(s) associated:</h3>
                                </div>
                                <div class="box-body">
                                    <div id="items-form-container">
                                        {% for update in update_form %}
                                        <div class='update-form'>
                                            {% bootstrap_form update %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <a href="#" class="add-item">Add Update ..</a>
                                </div>
                            </div>
 
                        {% endif %}
                        <!-- Only for Update a case End-->

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Select Event(s)</h3>
                            </div>
                            <div class="box-body">
                                <div class="responsive-table">
                                    <table id="event_id" class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <th>ID</th>
                                            <th>Identification</th>
                                            <th>ISP</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </thead>
                                        <tfoot>
                                            <th>ID</th>
                                            <th>Identification</th>
                                            <th>ISP</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tfoot>

                                        {% if case %}  
                                        <!-- Only for Update a case Begin-->
                                            <tbody>
                                            {% for event in events %}
                                            <tr {% if event in case.events.all %}
                                                class="selected"
                                            {% endif %}>
                                                <td>{{event.id}}</td>
                                                <td>{{event.identification}}</td>
                                                <td>{{event.isp}}</td>
                                                <td>{{event.start_date.date}}</td>
                                                <td>
                                                    {% if event.end_date %}
                                                        {{event.end_date.date}}
                                                    {% else %}
                                                        Open Event
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <!-- Only for Update a case End-->
                                        {% else %} 
                                        <!-- Only for Create a case Begin-->
                                        <tbody>
                                            {% for event in events %}
                                            <tr>
                                                <td>{{event.id}}</td>
                                                <td>{{event.identification}}</td>
                                                <td>{{event.isp}}</td>
                                                <td>{{event.start_date.date}}</td>
                                                <td>
                                                    {% if event.end_date %}
                                                        {{event.end_date.date}}
                                                    {% else %}
                                                        Open Event
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <!-- Only for Create a case End-->
                                        {% endif %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        {% if case %}
                        <!-- Only for Update a case Begin-->
                        <input class="btn btn-flat btn-primary" type="submit" value="Edit" id="create" name='submit'>
                        <!-- Only for Update a case End-->
                        {% else %}
                        <!-- Only for Create a case Begin-->
                        <input class="btn btn-flat btn-primary" type="submit" value="Create" id="create">
                        <!-- Only for Create a case End-->
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('#id_start_date').datepicker({
        });
        $('#id_end_date').datepicker({
        });
        $('.update_date').datepicker({
        });
        var table = $('#event_id').DataTable({
            initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    if(column.search() === '^'+d+'$'){
                        select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
                    } else {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    }
                    } );
                } );
            }
        });
        $( '#id_events' ).val('');

        $('#event_id tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            $( '#id_events' ).val('');
        });

        $(document).on('click', '.add-item', function () {
            $('.update_date').datepicker({
            });
        });

        $('#create').click(function(e) {
                /* Act on the event */
                var event = [];
                table.rows('.selected').eq(0).each(function(index) {
                    var row = table.row(index);
                    var id = row.data()[0];
                    event.push(id);
                });
                $('input[name="events"]').val(event);
        });

        $('.add-item').click(function(ev) {
            ev.preventDefault();
            var count = $('#items-form-container').children().length;
            var tmplMarkup = $('#item-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#items-form-container').append(compiledTmpl);

            // update form count
            $('#id_updates-TOTAL_FORMS').attr('value', count+1);
        });
    })
</script>
<script type="text/html" id="item-template">

    <div id="item-__prefix__">
        <div class='update-form'>
        {% if case %}
        {% bootstrap_form update_form.empty_form %}
        {% endif %}
        </div>
    </div>
       
</script>
{% endblock %}

{% block extracss %}
    <style>
        .update-form{
            border: #3c8dbc 1px solid;
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
{% endblock%}