{% extends 'dashboard/layout.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            {% if not case.end_date %}
                                 Open Case:
                            {% else %}
                                Case:
                             {% endif %} 
                             {{case.title}}
                            <b>
                            {% if case.draft %}
                                Draft
                            {% else %}
                                Published
                            {% endif %}
                            </b>
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover dataTable" style="margin-bottom: 20px">
                        <thead>
                            <th>Start Date</th>
                            
                            <th>End Date</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{case.start_date}}
                                </td>
                                <td>
                                {% if case.end_date %}
                                    {{case.end_date}}
                                {% else %}
                                    Open Case....
                                {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p><b>Description:</b></p>
                    <p>{{case.description}}</p>
                </div>

            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Case Update(s)
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% for update in case.updates.all %}
                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                {{update.title}}
                            </h3>
                            <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                    </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table id="update-list" class="table table-bordered table-hover">
                            <thead>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Created by</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{update.date}}</td>
                                    <td>{{update.category}}</td>
                                    <td>{{update.created_by}}</td>
                                </tr>
                            </tbody>
                            </table>
                            <p><b>Description:</b></p>
                            <p>{{update.text}}</p>
                        </div>
                        <div class="box-footer">
                            <div class="text-right">
                                <a href="{% url 'cases:case_front:update-update' update.id %}" class="">Edit</a>
                                <a href="" class="update-delete-btn" data-toggle="modal" data-target="#modal_update_delete" data-id="{{update.id}}">Delete</a>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Event(s) associated
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="event-list" class="table table-bordered table-hover">
                        <thead>
                            <th>Identification</th>
                            <th>ISP</th>
                            <th>Target</th>
                            <th>start_date</th>
                            <th>end_date</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for event in case.events.all %}
                            <tr>
                                <td>{{event.identification}}</td>
                                <td>{{event.isp}}</td>
                                <td>{{event.target}}</td>
                                <td>{{event.start_date}}</td>
                                <td>
                                    {% if event.end_date %}
                                        {{event.end_date}}
                                    {% else %}
                                        Open event ...
                                    {% endif %}
                                </td>
                                <td>   
                                    <a href="" class="btn btn-primary btn-flat">Check Event</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Translations (Optional)
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if  case.title_de or case.description_de %}
                    <p><b>English</b></p>
                    <p><b>Title:</b></p>
                    <p>{{case.title_de}}</p>
                    <p><b>Description:</b></p>
                    <p>{{case.description_de}}</p>
                    {% else %}
                    <p><b>No translations available</b></p>
                    {% endif %}
                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                            <p>
                                    Case Update(s)
                            </p>
                            <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                    </button>
                            </div>
                        </div>
                        <div class="box-body">
                            {% for update in case.updates.all %}
                                {% if update.title_de or update.text_de %}
                                    
                                <div class="box box-default collapsed-box">
                                    <div class="box-header with-border">
                                        <p >
                                            {{update.title_de}}
                                        </p>
                                        <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                                </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table id="update-list" class="table table-bordered table-hover">
                                        <thead>
                                            <th>Date</th>
                                            <th>Category</th>
                                            <th>Created by</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{update.date}}</td>
                                                <td>{{update.category}}</td>
                                                <td>{{update.created_by}}</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        <p><b>Description:</b></p>
                                        <p>{{update.text_de}}</p>
                                    </div>
                                    <div class="box-footer">
                                        <div class="text-right">
                                            <a href="{% url 'cases:case_front:update-update' update.id %}" class="">Edit</a>
                                            <a href="" class="update-delete-btn" data-toggle="modal" data-target="#modal_update_delete" data-id="{{update.id}}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <p><b>No translations available for update "{{update.title}}"</b></p>
                                    </div>
                                </div>
                                {% endif %}
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Actions
                    </h3>
                </div>
                <div class="box-body">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'cases:case_front:change-case-status-detail' case.id%}" class="btn btn-primary btn-flat actionButton">
                                        {% if case.draft %}
                                        Publish Case
                                        {% else %}
                                        Draft Case
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'cases:case_front:update-case' case.id %}" class="btn btn-primary btn-flat actionButton">Edit Case</a></td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'cases:case_front:create-update' case.id %}" class="btn btn-primary btn-flat actionButton">Add Update</a></td>
                            </tr>
                            <tr>
                                <td><a href="" class="btn btn-danger btn-flat actionButton delete-btn" data-toggle="modal" data-target="#modal_delete" data-id="{{case.id}}">Delete Case</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_delete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Case</h4>
                </div>
                <form id="case-delete-form" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this case?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_update_delete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Update</h4>
                </div>
                <form id="update-delete-form" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this update?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(function() {
            $(document).on('click', '.delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                var delete_id = $(this).data('id')
                var url = '/cases/__ID__/delete/'.replace('__ID__', delete_id)
                $('#case-delete-form').attr('action', url);
            });

            $(document).on('click', '.update-delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                console.log("holaaaaaaaaaaaaaaaa")
                var delete_id = $(this).data('id')
                var url = '/cases/__ID__/delete-update/'.replace('__ID__', delete_id)
                $('#update-delete-form').attr('action', url);
            });

            $('#event-list').DataTable({
                "paging": false,
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 5 ] },
                    { "asSorting": false, "aTargets": [5] }
                ],
            }
            );         
        })
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    <style>
        .actionButton{
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
{% endblock extracss %}