

/***
    *
    * Data tables
    *
    ***/

.dataTables_wrapper .dataTables_processing {
    background-color: rgba(50, 50, 50, 0.4);
    height: 60px;
    /*     top: 20%; */
    position: fixed;
    top: 70px;
    z-index: 100;
    height: 50px;
    background-color: rgb(2, 31, 89);
    font-weight: bold;
}


/***
    *
    * FLAGS
    *
    ***/

.flag.flag-std{
    color: #e0c602;
}
.flag.flag-hard{
    color: #e11802;
}
.flag.flag-muted{
    color: #699eb1;
}
.flag.flag-manual{
    color: #034f3c;
}
