{% extends 'dashboard/layout.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        {% if probe %}
                            <h3 class="box-title">Edit Probe</h3>
                        {% else %}
                            <h3 class="box-title">Create New Probe</h3>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        <form id="muted-input-create-form" action="" method="post">{% csrf_token %}
                        {% bootstrap_form form %}
                        </form>                        
                    </div>
                    <div class="box-footer text-right">
                        {% if probe %}
                        <input class="btn btn-flat btn-primary" type="submit" value="Edit" id="create">
                        {% else %}
                        <input class="btn btn-flat btn-primary" type="submit" value="Create" id="create">
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
{% endblock %}