{% extends 'dashboard/layout.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load key_value %}
{% load prettyjson %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Metric: <b>{{metric.measurement}}</b>
                            <button type="button" id="btn" class="btn btn-flat btn-primary" data-clipboard-text={{metric.id}}>
                            <span class="glyphicon glyphicon-copy"></span>
                            </button>
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover" style="margin-bottom: 20px">
                        <thead>
                            <th>Input</th>
                            <th>Measurement Start Time</th>
                            <th>Test Name</th>   
                            <th>Test Runtime</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ metric.input }}</td>
                                <td>{{ metric.measurement_start_time }}</td>
                                <td>{{ metric.test_name}}</td>
                                <td>{{ metric.test_runtime }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" style="margin-bottom: 20px">
                        <thead>
                            <th>Test Keys </th>
                            <th>Test Helpers</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% prettyjson metric.test_keys %}</td>
                                <td>{% prettyjson metric.test_helpers %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" style="margin-bottom: 20px">
                        <thead>
                            <th>Options</th>
                            <th>Annotations</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% prettyjson metric.options %}</td>
                                <td>{% prettyjson metric.annotations %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Metric Report: <b>{{metric.report_id}}</b>
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Report File Name</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.report_filename}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Test Name</th>
                            <th>Test Start Time</th>
                            <th>Test Version</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.test_name}}</td>
                                <td>{{metric.test_start_time}}</td>
                                <td>{{metric.test_version}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Data Format Version</th>
                            <th>Software Name</th>
                            <th>Software Version</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.data_format_version}}</td>
                                <td>{{metric.software_name}}</td>
                                <td>{{metric.software_version}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Probe ASN</th>
                            <th>Probe CC</th>
                            <th>Probe IP</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.probe_asn}}</td>
                                <td>{{metric.probe_cc}}</td>
                                <td>{{metric.probe_ip}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if metric.probe %}
                    
                    
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Metric Probe: <b>ID-{{metric.probe.identification}}</b>
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <p><b>Probe Details:</b></p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>ISP</th>
                            <th>Region</th>
                            <th>Country</th>
                            <th>City</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.probe.isp}}</td>
                                <td>{{metric.probe.region}}</td>
                                <td>{{metric.probe.country}}</td>
                                <td>{{metric.probe.city}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top: 10px;"><b>Probe Plan Details:</b></p>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Name</th>
                            <th>ISP</th>
                            <th>Upload</th>
                            <th>Download</th>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{metric.probe.plan.name}}</td>
                                <td>{{metric.probe.plan.isp}}</td>
                                <td>{{metric.probe.plan.upload}}</td>
                                <td>{{metric.probe.plan.download}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if  metric.probe.plan.comment %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Comment</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{metric.probe.plan.comment}}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>  
            {% endif %} 
            {% if metric.dnss.all %}
                {% for dns in metric.dnss.all %}
                    
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                                DNS Test: {{dns.id}}
                        </h3>
                        <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p><b>Flag Evaluation:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>
                                    
                                        {% if dns.flag.flag == True %}
                                            <i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i>    
                                        {% elif dns.flag.flag == False %}
                                            <i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="glyphicon glyphicon-flag" style="color: gray;" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if dns.flag.manual_flag %}
                                            <i class="glyphicon glyphicon-flag" style="color: black;" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><b>Control Resolver:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Answers</th>
                                <th>Failure</th>
                                <th>Resolver Hostname</th>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>{{dns.control_resolver_answers}}</td>
                                    <td>{{dns.control_resolver_failure}}</td>
                                    <td>{{dns.control_resolver_resolver_hostname}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="margin-top: 10px;"><b>Metric Logic:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Answers</th>
                                <th>Failure</th>
                                <th>Resolver Hostname</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{dns.answers}}</td>
                                    <td>{{dns.failure}}</td>
                                    <td>{{dns.resolver_hostname}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
                {% endfor %}
            {% endif %}
            {% if metric.https.all %}
                {% for http in metric.https.all %}
                    
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                                HTTP Test: {{http.id}}
                        </h3>
                        <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p><b>Flag Evaluation:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>
                                  
                                            {% if http.flag.flag == True %}
                                                <i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i>    
                                            {% elif http.flag.flag == False %}
                                                <i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-flag" style="color: gray;" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if http.flag.manual_flag %}
                                                <i class="glyphicon glyphicon-flag" style="color: black;" aria-hidden="true"></i>
                                            {% endif %}

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="margin-top: 10px;"><b>Metric Logic:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Status Code Match</th>
                                <th>Headers Match</th>
                                <th>Body Length Match</th>
                                <th>Body Proportion</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{http.status_code_match}}</td>
                                    <td>{{http.headers_match}}</td>
                                    <td>{{http.body_length_match}}</td>
                                    <td>{{http.body_proportion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
                {% endfor %}
            {% endif %} 
            {% if metric.tcps.all %}
                {% for tcp in metric.tcps.all %}
                    
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                                TCP Test: {{tcp.id}}
                        </h3>
                        <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p><b>Flag Evaluation:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>
                                  
                                        {% if tcp.flag.flag == True %}
                                            <i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i>    
                                        {% elif tcp.flag.flag == False %}
                                            <i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="glyphicon glyphicon-flag" style="color: gray;" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if tcp.flag.manual_flag %}
                                            <i class="glyphicon glyphicon-flag" style="color: black;" aria-hidden="true"></i>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="margin-top: 10px;"><b>Metric Logic:</b></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Status Blocked</th>
                                <th>Status Failure</th>
                                <th>Status Success</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{http.status_blocked}}</td>
                                    <td>{{http.status_failure}}</td>
                                    <td>{{http.status_success}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
                {% endfor %}
            {% endif %}    
        </div>
        <div class="col-xs-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Actions
                    </h3>
                </div>
                <div class="box-body">
                    
                </div> 
            </div>
        </div>       
    </div>
{% endblock %}

{% block extrajs %}
{% prettyjson_setup jquery=False %}
<script>
    $(document).ready(function () {

        // Tooltip

        $('button').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        function setTooltip(btn, message) {
          $(btn).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
        }

        function hideTooltip(btn) {
          setTimeout(function() {
            $(btn).tooltip('hide');
          }, 8000); 
        }

        // Clipboard

        var btn = document.getElementById('btn');
        var clipboard = new Clipboard(btn);
            
        clipboard.on('success', function(e) {
            setTooltip(e.trigger, 'Copied!');
            hideTooltip(e.trigger);
        });

        clipboard.on('error', function(e) {
            setTooltip(e.trigger, 'Failed!');
            hideTooltip(e.trigger);
        });
       

    })
</script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    <style>
        .actionButton{
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
{% endblock extracss %}