{% extends 'dashboard/layout.html' %}
{% load key_value %}

{% block content %}
    <div class="table-responsive">
        <table role="grid" id="content1" class="table table-bordered table-striped table-hover dataTable">
            <thead>
                <tr role="row">
                  {% for item in columns %}
                    <th aria-sort="ascending"  style="width: 176px;" colspan="1"
                    rowspan="1" aria-controls="content" tabindex="0" class="sorting_asc">{{ item }}
                    </th>
                  {% endfor %}
                </tr>
            </thead>
            <tfoot>
                <tr>
                  {% for item in columns %}
                    <th>
                        {{ item }}
                    </th>
                  {% endfor %}
                </tr>
            </tfoot>
            <tbody>
                {% for item in rows %}
                <tr role="row">
                {% for key in columns %}
                    <td>
                    {% if key == 'match' or key == 'bloqueado' or key == 'medicion exitosa' %}
                        {% if item|key_value:key %}
                            <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                            <span class="hide">Yes</span>
                        {% else %}
                           <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>
                           <span class="hide">No</span>
                        {% endif %}
                    {% elif key == 'flag' %}
                        {% if item|key_value:key == 'hard' %}
                            <i class="glyphicon glyphicon-flag flag flag-hard"  aria-hidden="true"></i><span class="hide">hard</span>
                        {% elif item|key_value:key == 'soft' %}
                            <i class="glyphicon glyphicon-flag flag flag-std" aria-hidden="true"></i><span class="hide">soft</span>
                        {% elif item|key_value:key == 'No flag' %}
                        {% else %}
                            <i class="glyphicon glyphicon-flag flag flag-muted" aria-hidden="true"></i><span class="hide">mute</span>
                        {% endif %}
                    {% else %}
                        {{ item|key_value:key }}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extrajs %}
<script>

$(function () {
        $('#content1').DataTable({

            'deferRender': true,

            initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    if(column.search() === '^'+d+'$'){
                        select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
                    } else {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    }
                } );
            } );
        },


        language: {
            processing:     "Procesando...",
            search:         "Buscar:",
            lengthMenu:    "Mostrar _MENU_ elementos",
            info:           "Mostrando elementos de _START_ a _END_ de _TOTAL_ elementos",
            infoEmpty:      "Mostrando elementos de 0 a 0 de 0 elementos",
            infoFiltered:   "(artículos _MAX_ filtrados en total)",
            infoPostFix:    "",
            loadingRecords: "Cargando",
            zeroRecords:    "Ningún elemento en la muestra",
            emptyTable:     "No hay datos disponibles en la tabla",
            paginate: {
                first:      "Primero",
                previous:   "Anterior",
                next:       "Siguiente",
                last:       "Último"
            },
            aria: {
                sortAscending:  ": Habilitar para ordenar la columna en orden ascendente",
                sortDescending: ": Habilitar para ordenar la columna en orden descendente"
            }
        }

    });

})


</script>
{% endblock %}