{% extends 'dashboard/layout.html' %}
{% load eztables %}

{% block extracss %}
    {% datatables_bootstrap_css %}
{% endblock %}

{% block content %}
{% if messages %}
<div class="box">
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->

    {% for message in messages %}
        {% if message.level ==  40 %}
            <div class="callout callout-danger">
                <p>{{ message }}</p>
            </div>
        {% else %}

            {% if message.level ==  25 %}
                <div class="callout callout-success">
                  <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<div class="table-responsive">
    <table id="my-table">
        <thead>
            <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
            <th>flag</th>
            <th>id</th>
            <th>input</th>
            <th>match</th>
            <th>dns isp</th>
            <th>control resolver</th>
            <th>dns name</th>
            <th>dns result</th>
            <th>measurement start time</th>
            <th>report_id</th>
        </thead>
        <tbody id="my-table-body"></tbody>
    </table>
</div>
<div class="text-right">
            <form id="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <input id="create-manual-flags" class="btn btn-flat btn-primary manual-flags" type="submit" value="Create Manual Flags">
                <input id="create-event" class="btn btn-flat btn-primary event-btn" type="submit" value="Create Event">
            </form>
        </div>
{% endblock %}

{% block extrajs %}

<script>
   $(function () {

        $( '#id_metrics' ).val('');
        $( '#id_metric_ip' ).val('');

        $( '#create-event, #create-manual-flags').toggleClass('disabled');

        var tbody = document.getElementById("my-table-body");
        var row_list = tbody.getElementsByTagName("tr");

        $('#my-table').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": '/measurements/prueba-dns/',
            "aoColumns": [
                { "mData": "checkbox","bSortable": false, "bSearchable": false,
                    "mRender": function ( data ) {
                    return '<input type="checkbox" name="' + data + '" value="1">'
                    }
                },
                { "mData": "Flag", "bSortable": false, "bSearchable": false,
                    "mRender": function ( data, type, full ) {

                        var flag_icon = "";
                        if(full.flag_id != null){

                            if (data == true){
                            flag_icon = '<i class="glyphicon glyphicon-flag flag flag-hard"  aria-hidden="true"></i><span class="hide">hard</span>';
                            }
                            if (data == false){
                                flag_icon = '<i class="glyphicon glyphicon-flag flag flag-std" aria-hidden="true"></i><span class="hide">soft</span>';
                            }
                            if (data == null){
                                flag_icon = '<i class="glyphicon glyphicon-flag flag flag-muted" aria-hidden="true"></i><span class="hide">mute</span>';
                            }
                        }

                        if(full.manual_flag){
                            flag_icon += '<i class="glyphicon glyphicon-flag flag flag-manual"  aria-hidden="true"></i><span class="hide">manual</span>';
                        }

                        return flag_icon;
                    }
                },
                { "mData": "id",
                   "mRender": function ( data ) {
                        if (data != null){
                            var url_measurement = "{% url 'measurements:measurement_front:detail-measurement' 'data' %}".replace('data', data)
                            url_measurement = "<a href='" + url_measurement + "'>" + data + "</a>";
                            return url_measurement
                        }else{
                            return '';
                        }
                   }
                },
                { "mData": "input" },
                { "mData": "match", "bSortable": false, "bSearchable": false,
                   "mRender": function ( data ) {
                        if(data == true){
                           return '<i class="fa fa-check" style="color: green;" aria-hidden="true"></i>';
                        }else{
                            return '<i class="fa fa-times" style="color: red;" aria-hidden="true"></i>';
                        }
                   }
                },
                { "mData": "dns isp", "bSortable": false, "bSearchable": false,},
                { "mData": "control resolver", "bSortable": false, "bSearchable": false,},
                { "mData": "dns name", "bSortable": false, "bSearchable": false,},
                { "mData": "dns result", "bSortable": false, "bSearchable": false,},
                { "mData": "measurement_start_time"},
                { "mData": "report_id",
                   "mRender": function ( data ) {
                        if (data != null){
                            var url_report = "{% url 'measurements:measurement_front:detail-report' 'data' %}".replace('data', data)
                            url_report = "<a href='" + url_report + "'>" + data + "</a>";
                            return url_report;
                        }else{
                            return '';
                        }
                   }
                }
            ]
        });

        function check_cross(value) {
            if(value.innerText == "true"){
                value.innerHTML = '<i class="fa fa-check" style="color: green;" aria-hidden="true"></i>';
            }else{
                value.innerHTML = '<i class="fa fa-times" style="color: red;" aria-hidden="true"></i>';
            }
        }

        // Handle click on "Select all" control
        $('#example-select-all').on('click', function(){
            // Get all rows with search applied
            var rows = $('#my-table').find('tbody').find('tr');
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            $(rows).each(function() {
               var checked = $('input[type="checkbox"]', rows).prop('checked');
               if(checked){
                $(this).addClass('selected', checked);
               }else{
                $(this).removeClass('selected');
               }

               var metrics = $( '#id_metrics' );
               var ips = $( '#id_metric_ip' );

               var measurement = $( this ).context.childNodes[2].innerText;
               var dns_name = $( this ).context.childNodes[7].innerText;
               $( '#create-manual-flags').removeClass('disabled');
               $( '#create-event').removeClass('disabled');



               if( $( this ).hasClass( 'selected' ) ){
                $(this).find(":checkbox").prop("checked", true);
                metrics.val( metrics.val() + '\'' + measurement + '\', ');
                ips.val( ips.val() + '\'' + measurement + '@' + dns_name + '\', ');
            }else{
                $(this).find(":checkbox").prop("checked", false);
                var metric_index = metrics.val().indexOf(measurement);
                var ip = measurement + '@' + dns_name;
                var ip_index = ips.val().indexOf(ip);
                metrics.val(
                        metrics.val().substring(
                                0,
                                metric_index - 1
                        ) +
                        metrics.val().substring(
                                metric_index + measurement.length + 2
                        )
                );

                ips.val(
                        ips.val().substring(
                                0,
                                ip_index - 1
                        ) +
                        ips.val().substring(
                                ip_index + ip.length + 2
                        )
                );

                if (!metrics.val().match(/([^,\']+)\w/)){
                    metrics.val("");
                    ips.val("");
                    $( '#create-manual-flags').toggleClass('disabled');
                    $( '#create-event').toggleClass('disabled');

                }

            }

            $( '#id_metrics' ).val(metrics.val().replace(/.$/,""));

            $( '#id_metrics' ).val(metrics.val().replace(" ", ","));

            $( '#id_metric_ip' ).val(ips.val().replace(/.$/,""));

            $( '#id_metric_ip' ).val(ips.val().replace(" ", ","));

            });

            // console.log("METRICS", $("#id_metrics").val());

        });

        $('#my-table tbody').on('click', 'tr', function () {

            var metrics = $( '#id_metrics' );
            var ips = $( '#id_metric_ip' );

            var measurement = $( this ).context.childNodes[2].innerText;
            var dns_name = $( this ).context.childNodes[7].innerText;
            // console.log("Pedro DNS:", dns_name);
            $( this ).toggleClass('selected');

            $( '#create-manual-flags').removeClass('disabled');
            $( '#create-event').removeClass('disabled');


            if( $( this ).hasClass( 'selected' ) ){
                $(this).find(":checkbox").prop("checked", true);
                metrics.val( metrics.val() + '\'' + measurement + '\', ');
                ips.val( ips.val() + '\'' + measurement + '@' + dns_name + '\', ');
            }else{
                $(this).find(":checkbox").prop("checked", false);
                var metric_index = metrics.val().indexOf(measurement);
                var ip = measurement + '@' + dns_name;
                var ip_index = ips.val().indexOf(ip);
                metrics.val(
                        metrics.val().substring(
                                0,
                                metric_index - 1
                        ) +
                        metrics.val().substring(
                                metric_index + measurement.length + 2
                        )
                );

                ips.val(
                        ips.val().substring(
                                0,
                                ip_index - 1
                        ) +
                        ips.val().substring(
                                ip_index + ip.length + 2
                        )
                );

                if (!metrics.val().match(/([^,\']+)\w/)){
                    metrics.val("");
                    ips.val("");
                    $( '#create-manual-flags').toggleClass('disabled');
                    $( '#create-event').toggleClass('disabled');

                }

            }

            $( '#id_metrics' ).val(metrics.val().replace(/.$/,""));

            $( '#id_metrics' ).val(metrics.val().replace(" ", ","));

            $( '#id_metric_ip' ).val(ips.val().replace(/.$/,""));

            $( '#id_metric_ip' ).val(ips.val().replace(" ", ","));

        });

        $(document).on('click', '.event-btn', function(event) {
            /* Act on the event */
            var url = '/measurements/create_event/DNS/';
            $('#form').attr('action', url);
        });

        $(document).on('click', '.manual-flags', function(event) {
            /* Act on the event */
            var url = '/measurements/create_manual_flags/DNS/';
            $('#form').attr('action', url);
        });

    });
</script>
{% endblock %}