{% extends 'dashboard/layout.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            {% if not case.end_date %}
                                 Open Event:
                            {% else %}
                                Event:
                             {% endif %} 
                             {{event.identification}}
                            <b>
                            {% if event.draft %}
                                Draft
                            {% else %}
                                Published
                            {% endif %}
                            </b>
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover" style="margin-bottom: 20px">
                        <thead>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{event.start_date}}
                                </td>
                                <td>
                                {% if event.end_date %}
                                    {{event.end_date}}
                                {% else %}
                                    Open Case....
                                {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover" style="margin-bottom: 20px">
                        <thead>
                            <th>Type</th>
                            <th>ISP</th>
                            <th>Target</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{event.type}}
                                </td>
                                <td>
                                    {{event.isp}}
                                </td>
                                <td>
                                    {{event.target}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Flag(s) associated
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if  event.flags.all %}
                        
                    <table id="flag-list" class="table table-bordered table-hover">
                        <thead>
                            <th>Measurement</th>
                            <th>Flag</th>
                            <th>Date</th>
                            <th>ISP</th>
                            <th>Probe</th>
                        </thead>
                        <tbody>
                            {% for flag in event.flags.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'measurements:measurement_front:detail-measurement' flag.metric.id %}"> {{flag.metric.measurement}}</a>
                                </td>
                                <td>{{flag.flag}}</td>
                                <td>{{flag.metric_date}}</td>
                                <td>
                                {% if flag.isp %}
                                    {{flag.isp}}
                                {% else %}
                                    Unknown
                                {% endif %}</td>
                                <td>Probe-{{flag.metric.probe.id}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        No flags available
                    {% endif %}
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Public Evidence
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if event.public_evidence %}
                        <p>{{event.public_evidence}}</p>
                    {% else %}
                        <p><b>No evidence available</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Private Evidence
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if event.public_evidence %}
                        <p>{{event.private_evidence}}</p>
                    {% else %}
                        <p><b>No evidence available</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Suggested Flags
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="suggested-flag-list" class="table table-bordered table-hover">
                        <thead>
                            <th>Measurement</th>
                            <th>Flag</th>
                            <th>Date</th>
                            <th>ISP</th>
                            <th>Probe</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Actions
                    </h3>
                </div>
                <div class="box-body">
                        <p>
                        {% if event.flags.all %}
                            {% if event.type_flags == 'tcp' %}
                                <a href={% url 'plugins:tcp:tcp-update-event' event.id %} class="btn btn-primary btn-flat actionButton">Edit Event</a>

                            {% elif event.type_flags == 'dns' %}
                            {% elif event.type_flags == 'ndt' %}
                            {% elif event.type_flags == 'http' %}
                            {% else  %}
                                <!--<li><a href={% url 'events:event_front:update-event' event.id %}>Edit</a></li> -->
                            {% endif %}
                        {% else %}
                        <a href={% url 'events:event_front:update-event-evidence' event.id %} class="btn btn-primary btn-flat actionButton">Edit Event</a>
                        {% endif %}
                        </p>
                        <p><a href="{% url 'events:event_front:change-event-status' event.id %}" class="btn btn-primary btn-flat actionButton">{% if event.draft %}Change to Published{% else %}Change to Draft{% endif %}</a></p>
                        <p><a href="" class="btn btn-danger btn-flat actionButton delete-btn" data-toggle="modal" data-target="#modal_delete" data-id="{{event.id}}">Delete Event</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_delete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <form id="event-delete-form" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this event?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(function() {
            $(document).on('click', '.delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                var delete_id = $(this).data('id');
                var url = '/events/__ID__/delete/'.replace('__ID__', delete_id);
                $('#event-delete-form').attr('action', url);
            });

            $('#flag-list').DataTable({
                "paging": false
            });

            $('#suggested-flag-list').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'events:event_front:suggested-flags-ajax' pk=object.pk %}",
                "aoColumns": [
                    { "mData": "Measurement"},
                    { "mData": "Flag"},
                    { "mData": "Date"},
                    { "mData": "ISP"},
                    { "mData": "Probe"}
                ]
            });
        })
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    <style>
        .actionButton{
            width: 100%;
            padding: 6px;
        }
    </style>
{% endblock extracss %}