{% extends 'dashboard/layout.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            {% if not case.end_date %}
                                 Open Event:
                            {% else %}
                                Event:
                             {% endif %} 
                             {{event.identification}}
                            <b>
                            {% if event.draft %}
                                Draft
                            {% else %}
                                Published
                            {% endif %}
                            </b>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover" style="margin-bottom: 20px">
                            <thead>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{event.start_date}}
                                    </td>
                                    <td>
                                    {% if event.end_date %}
                                        {{event.end_date}}
                                    {% else %}
                                        Open Case....
                                    {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover" style="margin-bottom: 20px">
                            <thead>
                                <th>Type</th>
                                <th>ISP</th>
                                <th>Target</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{event.type}}
                                    </td>
                                    <td>
                                        {{event.isp.name}}
                                    </td>
                                    <td>
                                        {{event.target}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Flag(s) Associated
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if  event.flags.all %}
                        <table id="flag-list" class="table table-bordered table-hover">
                            <thead>
                                <th>Flag</th>
                                <th>Measurement</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>ISP</th>
                                <th>Probe</th>
                            </thead>
                            <tbody>
                                {% for flag in event.flags.all %}
                                <tr>
                                    <td>
                                        {{flag.uuid}}
                                    </td>
                                    <td>
                                        <a href="{% url 'measurements:measurement_front:detail-measurement' flag.metric.id %}"> {{flag.metric.measurement}}</a>
                                    </td>
                                    <td>{{flag.flag}}</td>
                                    <td>{{flag.metric_date}}</td>
                                    <td>
                                    {% if flag.metric.probe.isp.name %}
                                        {{flag.metric.probe.isp.name}}
                                    {% else %}
                                        Unknown
                                    {% endif %}</td>
                                    <td>{{flag.metric.probe.identification}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No flags available
                    {% endif %}
                    
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Flag(s) Suggested
                    </h3>
                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <form method="post" action="." id="suggested-flags-form">{% csrf_token %}
                        <div class="col-md-12">
                            <input type="submit" name="clear-suggested-flags" value="Clear suggested flags" class="btn btn-default">
                            <input type="submit" name="search-suggested-flag" value="Search suggested flags" class="btn btn-default">
                        </div>
                        <div class="col-md-12" style="padding-top: 10px;">
                            <table id="suggested-flag-list" class="table table-bordered table-hover" style="width: 100%;">
                                <thead>
                                    <th>Flag</th>
                                    <th>Measurement</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>ISP</th>
                                    <th>Probe</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <div class=" pull-right">
                                <input type="submit" name="add-selected-flags" value="Add selected flags" class="btn btn-default">
                                <input type="submit" name="add-all-flags" value="Add all flags" class="btn btn-default">
                                <input type="hidden" class="hidden" name="flags" id="id_flags">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Public Evidence
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if event.public_evidence %}
                        <p>{{event.public_evidence}}</p>
                    {% else %}
                        <p><b>No evidence available</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Private Evidence
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if event.public_evidence %}
                        <p>{{event.private_evidence}}</p>
                    {% else %}
                        <p><b>No evidence available</b></p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                            Actions
                    </h3>
                </div>
                <div class="box-body">
                        <p>
                        {% if event.flags.all %}
                            {% if event.type_flags == 'tcp' %}
                                <a href={% url 'plugins:tcp:tcp-update-event' event.id %} class="btn btn-primary btn-flat actionButton">Edit Event</a>

                            {% elif event.type_flags == 'dns' %}
                            {% elif event.type_flags == 'ndt' %}
                            {% elif event.type_flags == 'http' %}
                            {% else  %}
                                <!--<li><a href={% url 'events:event_front:update-event' event.id %}>Edit</a></li> -->
                            {% endif %}
                        {% else %}
                        <a href={% url 'events:event_front:update-event-evidence' event.id %} class="btn btn-primary btn-flat actionButton">Edit Event</a>
                        {% endif %}
                        </p>
                        <p><a href="{% url 'events:event_front:change-event-status' event.id %}" class="btn btn-primary btn-flat actionButton">{% if event.draft %}Change to Published{% else %}Change to Draft{% endif %}</a></p>
                        <p><a href="" class="btn btn-danger btn-flat actionButton delete-btn" data-toggle="modal" data-target="#modal_delete" data-id="{{event.id}}">Delete Event</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_delete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <form id="event-delete-form" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you want to delete this event?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(function() {
            $(document).on('click', '.delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                var delete_id = $(this).data('id');
                var url = '/events/__ID__/delete/'.replace('__ID__', delete_id);
                $('#event-delete-form').attr('action', url);
            });

            $('#flag-list').DataTable({
                "paging": false
            });

            $('#suggested-flag-list').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'events:event_front:suggested-flags-ajax' pk=object.pk %}",
                "aoColumns": [
                    {
                        "mData": "Checkbox",
                        "mRender": function(data){
                            return '<input type="checkbox" name="flag_checkbox" value="' + data + '"> ' + data
                        }
                    },
                    {
                        "mData": "Measurement",
                        "mRender": function(data){
                            var url_measurement = "{% url 'measurements:measurement_front:detail-measurement' 'data' %}".replace('data', data);
                            url_measurement = "<a href='" + url_measurement + "'>" + data + "</a>";
                            return url_measurement
                        }
                    },
                    {
                        "mData": "Flag",
                        "mRender": function ( data ) {

                            var flag_icon = "";

                            if (data == 'hard'){
                            flag_icon = 'Hard <i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i><span class="hide">hard</span>';
                            }
                            if (data == 'soft'){
                                flag_icon = 'Soft <i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i><span class="hide">soft</span>';
                            }
                            if (data == 'muted'){
                                flag_icon = 'Muted <i class="glyphicon glyphicon-flag" style="color: gray;" aria-hidden="true"></i><span class="hide">mute</span>';
                            }

                            if (data == 'none'){
                                flag_icon = "No Flag"
                            }

                            return flag_icon;
                        }
                    },
                    {
                        "mData": "Date"
                    },
                    {
                        "mData": "ISP"
                    },
                    {
                        "mData": "Probe"
                    }
                ]
            });
        });

        // Handle click on a row of principal datatable
        $('#suggested-flag-list tbody').on('click', 'tr', function () {

            var flags = $( '#id_flags' );
            var id_flag = $( this ).context.childNodes[0].getElementsByTagName('input')[0].value;

            var flag = $( this ).context.childNodes[1].innerText;
            var measurement = $( this ).context.childNodes[3].innerText;
            var input = $( this ).context.childNodes[4].innerText;

            $( this ).toggleClass('selected');
            if( $( this ).hasClass( 'selected' ) ){
                $(this).find(":checkbox").prop("checked", true);
                var selected_rows = $('#selected-table').find('tbody').find('tr');
                var check_existed = false;
                $(selected_rows).each(function(index) {
                    var row = selected_rows[index];
                    var row_id = row.childNodes[0].innerText;
                    if (row_id == id_flag){
                        check_existed = true;
                    }
                });
                if (check_existed == false){
                    // Add id in hidden input
                    flags.val( flags.val() + id_flag + '&');
                    // Add row to selected table
                    selected_table.row.add([
                        id_flag,
                        flag,
                        measurement,
                        input,
                        remove_button
                    ]).draw();
                }
            }else{
                $(this).find(":checkbox").prop("checked", false);
                // Remove id from hidden input
                var flag_index = flags.val().indexOf(id_flag);
                flags.val(
                    flags.val().substring(
                            0,
                            flag_index
                    ) +
                    flags.val().substring(
                            flag_index + id_flag.length + 1 ,
                            flags.val().length
                    )
                );

                $('#example-select-all').prop("checked", false);

                var selected_rows = $('#selected-table').find('tbody').find('tr');
                $(selected_rows).each(function(index) {
                    var row = selected_rows[index];
                    var row_id = row.childNodes[0].innerText;
                    if (row_id == id_flag){
                        var removed = selected_table.row(index);
                        removed.remove().draw();
                    }
                });
            }
        });

        // Handle click on "Select all" control Principal datatable
        $('#example-select-all').on('click', function(){
            var flags = $( '#id_flags' );
            // Get all rows with search applied
            var rows = $('#principal-table').find('tbody').find('tr');
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            $(rows).each(function() {
               var checked = $('input[type="checkbox"]', rows).prop('checked');
                var id_flag = $( this ).context.childNodes[0].getElementsByTagName('input')[0].value;

                var flag = $( this ).context.childNodes[1].innerText;
                var measurement = $( this ).context.childNodes[3].innerText;
                var input = $( this ).context.childNodes[4].innerText;

                if(checked){
                    $(this).addClass('selected', checked);
                    disableEventField(true);
                }else{
                    $(this).removeClass('selected');
                    disableEventField(false);
                }

                if( $( this ).hasClass( 'selected' ) ){
                    $(this).find(":checkbox").prop("checked", true);

                    var selected_rows = $('#selected-table').find('tbody').find('tr');
                    var check_existed = false;
                    $(selected_rows).each(function(index) {
                        var row = selected_rows[index];
                        var row_id = row.childNodes[0].innerText;
                        if (row_id == id_flag){
                            check_existed = true;
                        }
                    });
                    if (check_existed == false){
                        // Add id in hidden input
                        flags.val( flags.val() + id_flag + '&');
                        // Add row to selected table
                        selected_table.row.add([
                                id_flag, flag, measurement, input,remove_button
                            ]).draw();
                    }
                }else{
                    $(this).find(":checkbox").prop("checked", false);
                    // Remove id from hidden input
                    var flag_index = flags.val().indexOf(id_flag);
                    flags.val(
                            flags.val().substring(
                                    0,
                                    flag_index
                            ) +
                            flags.val().substring(
                                    flag_index + id_flag.length + 1 ,
                                    flags.val().length
                            )
                    );

                    var selected_rows = $('#selected-table').find('tbody').find('tr');
                    $(selected_rows).each(function(index) {
                        // row = selected_rows[index];
                        // row_id = row.childNodes[0].innerText;
                        // if (row_id == id_flag){
                        var removed = selected_table.row(index);
                        removed.remove().draw();
                        // }
                    });

                }

            });
        });


        // This is when flag hidden input have a value when DOM recently charge
        function fill_rows_tables() {
            // body...
            var flags = $( '#id_flags' ).val();

            var array = flags.split("&");
            array.pop();

            for (i = 0; i < array.length; i++) {
                var id_flag = array[i];
                var principal_rows = $('#principal-table').find('tbody').find('tr');
                $(principal_rows).each(function(index) {
                    var row = principal_rows[index];
                    var row_id = row.childNodes[0].getElementsByTagName('input')[0].value;
                    if (row_id == id_flag){
                        $(this).toggleClass('selected');
                        var flag = $( this ).context.childNodes[1].innerText;
                        var measurement = $( this ).context.childNodes[3].innerText;
                        var input = $( this ).context.childNodes[4].innerText;

                        var selected_rows = $('#selected-table').find('tbody').find('tr');
                        var insert_row = false;
                        $(selected_rows).each(function(index) {

                            var row_selected_table = selected_rows[index];
                            var row_selected_table_id = row_selected_table.childNodes[0].getElementsByTagName('input')[0].value;
                            if (row_selected_table_id == id_flag){
                                insert_row = true;
                            }
                        });

                        if (insert_row) {
                            selected_table.row.add([
                                id_flag,
                                flag,
                                measurement,
                                input,
                                remove_button
                            ]).draw();
                        }
                    }
                    if( $( this ).hasClass( 'selected' ) ){
                        $(this).find(":checkbox").prop("checked", true);
                         // Add row to selected table
                    }else{
                        $(this).find(":checkbox").prop("checked", false);

                    }
                });
            }
        }
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    <style>
        .actionButton{
            width: 100%;
            padding: 6px;
        }
    </style>
{% endblock extracss %}