{% extends 'dashboard/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <a  href="{% url 'events:event_front:create-event' %}" class="btn btn-default btn-flat" style="margin-bottom:20px;">
            Create new Event
        </a>
    </div>
</div>
                    

    {% if messages %} 
    <div class="box">    

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools --> 

        {% for message in messages %}
            {% if message.level ==  40 %}
                <div class="callout callout-danger">
                    <p>{{ message }}</p>
                </div>
            {% else %}
                  
                {% if message.level ==  25 %}
                    <div class="callout callout-success">
                      <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
    {% endif %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Event List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table">
            <table id="event-list" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                {% for event in events %}
                    <tr>
                        <td>{{event.identification}}</td>
                        <td>{{event.isp}}</td>
                        <td>{{event.target}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                        <td>{% if event.draft %} Borrador {% else %}
                        Público {% endif %}</td>
                        <td>


                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary btn-flat">Actions</button>
                                <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href={% url 'events:event_front:update-event' event.id %}>Edit</a></li>
                                    <li><a href={% url 'events:event_front:change-event-status' event.id %}>{% if event.draft %}Change status to Public{% else %}Change status to Draft{% endif %}</a></li>
                                    <li><a href="" style="color:red;" data-toggle="modal" data-target="#del{{event.id}}">Delete Event</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                <div class="modal fade" id="del{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="del{{event.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Delete Event</h4>
                              </div>
                              <div class="modal-body">
                                <label class="control-label">Are you sure of this action? It will delete all data asociated to {{ event.identification }}</label>
                              <div class="modal-footer">
                                 <a class="btn btn-danger" href={% url 'events:event_front:delete-event' event.id %}>Delete</a>
                                 <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>  
                              </div>
                              </div>
                            </div><!-- /.modal-content -->
                    </div>
                </div>

                {% endfor %}
            </table>
        </div>
    </div>
    <!-- /.box-body -->

</div>
{% endblock content %}

{% block extrajs %}
    <script>
        $(function() {
            $('#event-list').DataTable({
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 5 ] },
                    { "asSorting": false, "aTargets": [5] }
                ],
            }
            );        
        })
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    
{% endblock extracss %}