{% extends 'dashboard/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <a  href="{% url 'events:event_front:create-event' %}" class="btn btn-default btn-flat" style="margin-bottom:20px;">
            Create new Event
        </a>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Event List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table">
            <table id="event-list" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                {% for event in events %}
                    <tr>
                        <td>{{event.identification}}</td>
                        <td>{{event.isp}}</td>
                        <td>{{event.target}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                        <td>


                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary btn-flat">Actions</button>
                                <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href={% url 'events:event_front:update-event' event.id %}>Edit</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
    <!-- /.box-body -->

</div>
{% endblock content %}

{% block extrajs %}
    <script>
        $(function() {
            $('#event-list').DataTable({
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 5 ] },
                    { "asSorting": false, "aTargets": [5] }
                ],
            }
            );        
        })
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    
{% endblock extracss %}