{% extends 'dashboard/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <a  href="{% url 'events:event_front:create-event' %}" class="btn btn-default btn-flat" style="margin-bottom:20px;">
            Create new Event
        </a>
    </div>
</div>
    {% if messages %} 
    <div class="box">    

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools --> 

        {% for message in messages %}
            {% if message.level ==  40 %}
                <div class="callout callout-danger">
                    <p>{{ message }}</p>
                </div>
            {% else %}
                  
                {% if message.level ==  25 %}
                    <div class="callout callout-success">
                      <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
    {% endif %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Event List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table">
            <table id="event-list" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Identification</th>
                        <th>ISP</th>
                        <th>Target</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                {% for event in events %}
                    <tr>
                        <td><a href="{% url 'events:event_front:detail-event' event.id %}">{{event.identification}}</a></td>
                        <td>{{event.isp.name}}</td>
                        <td>{{event.target}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                        <td>{% if event.draft %} Borrador {% else %}
                        Público {% endif %}</td>
                        <td>
                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary btn-flat">Actions</button>
                                <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href={% url 'events:event_front:detail-event' event.id %}>Detail</a></li>
                                    {% if event.flags.all %}
                                        {% if event.type_flags == 'tcp' %}
                                            <li><a href={% url 'plugins:tcp:tcp-update-event' event.id %}>Edit</a></li>

                                        {% elif event.type_flags == 'dns' %}
                                        {% elif event.type_flags == 'ndt' %}
                                        {% elif event.type_flags == 'http' %}
                                            <li><a href={% url 'plugins:http:http-update-event' event.id %}>Edit</a></li>
                                        {% else  %}
                                            <!--<li><a href={% url 'events:event_front:update-event' event.id %}>Edit</a></li> -->
                                        {% endif %}
                                    {% else %}
                                    <li><a href={% url 'events:event_front:update-event-evidence' event.id %}>Edit</a></li>
                                    {% endif %}
                                    <li><a href={% url 'events:event_front:change-event-status' event.id %}>{% if event.draft %}Change status to Public{% else %}Change status to Draft{% endif %}</a></li>
                                    <li> <a href="" class="delete-btn" data-toggle="modal" style="color: red;" data-target="#modal_delete" data-id="{{event.id}}">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                <div class="modal fade" id="modal_delete" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Event</h4>
                            </div>
                            <form id="event-delete-form" action="" method="post">{% csrf_token %}
                                <div class="modal-body">
                                    <p>Are you sure of this action? It will delete all data asociated to this event</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-danger" value="Confirm" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </table>
        </div>
    </div>
    <!-- /.box-body -->

</div>
{% endblock content %}

{% block extrajs %}
    <script>
        $(function() {
            $('#event-list').DataTable({
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 5 ] },
                    { "asSorting": false, "aTargets": [5] }
                ],
            }
            );     

            $(document).on('click', '.delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                var delete_id = $(this).data('id')
                var url = '/events/__ID__/delete/'.replace('__ID__', delete_id)
                $('#event-delete-form').attr('action', url);
            });
         
        })
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}

{% block extracss %}
    <link rel="stylesheet" href={% static "plugins/datatables/dataTables.bootstrap.css" %}>
    
{% endblock extracss %}