{% extends 'dashboard/layout.html' %}
{% load staticfiles %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Event List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table">
                <table id="match-list" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Type</th>
                            <th>Current Flags</th>
                            <th>Suggested Flags</th>
                            <th>ISP</th>
                            <th>Target</th>
                            <th>Start</th>
                            <th>Finish</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Event</th>
                            <th>Type</th>
                            <th>Current Flags</th>
                            <th>Suggested Flags</th>
                            <th>ISP</th>
                            <th>Target</th>
                            <th>Start</th>
                            <th>Finish</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock content %}


{% block extrajs %}
    <script>
        $('#match-list').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'events:event_front:suggestions-event-ajax' %}",
            "aoColumns": [
                {
                    "mData": "Event",
                    "mRender": function ( data, type, full ) {
                        var url_measurement = "{% url 'events:event_front:detail-event' 'data' %}".replace('data', full.id);
                        url_measurement = "<a href='" + url_measurement + "'>" + data + "</a>";
                        return url_measurement
                    }
                },
                {
                    "mData": "Type"
                },
                {
                    "mData": "Current Flags"
                },
                {
                    "mData": "Suggested Flags"
                },
                {
                    "mData": "ISP"
                },
                {
                    "mData": "Target"
                },
                {
                    "mData": "Start"
                },
                {
                    "mData": "Finish",
                    "mRender": function( data ){
                        if ( data != null ){
                            return data
                        }else {
                            return 'Open ended...'
                        }
                    }
                },
                {
                    "mData": "Status",
                    "mRender": function( data ){
                        if ( data ){
                            return 'Draft'
                        }else{
                            return 'Publish'
                        }
                    }
                }
            ]
        });
    </script>
    <script src={% static "plugins/datatables/jquery.dataTables.js" %}></script>
    <script src={% static "plugins/datatables/dataTables.bootstrap.min.js" %}></script>
{% endblock extrajs %}