{% extends 'dashboard/layout.html' %}
{% load key_value %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Event</h3>
                    </div>
                    <div class="box-body">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                {% for non_field_error in form.non_field_errors %}
                                    {{ non_field_error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% bootstrap_field form.identification %}
                        {% bootstrap_field form.open_ended %}
                        {% bootstrap_field form.flags %}
                        <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Select Measurement(s)</h3>
                </div>
                <div class="box-body">
                    <div class="responsive-table">
                        <table id="measurement_id">
                            <thead>
                                <th>Measurement</th>
                                <th>Flag</th>
                                <th>Date</th>
                                <th>Target</th>
                                <th>ISP</th>
                                <th>IP Address</th>
                                <th>Measurement type</th>
                            </thead>
                            <tfoot>
                                <th>Measurement</th>
                                <th>Flag</th>
                                <th>Date</th>
                                <th>Target</th>
                                <th>ISP</th>
                                <th>IP Address</th>
                                <th>Measurement type</th>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
                    </div>
                    <div class="box-footer text-right">
                        <input class="btn btn-flat btn-primary" type="submit" value="Update">
                        <a href="" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#modal_delete" data-id="{{event.id}}">Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal_delete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event</h4>
                </div>
                <form id="event-delete-form" action="" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure of this action? It will delete all data asociated to {{ event.identification }}</p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Confirm" />
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {

        var flags = $( '#id_flags' ).val($( '#id_flags' ).val() + ' ');        

        var table = $('#measurement_id').DataTable({
            "order": [[ 0, "desc" ]],
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'events:event_front:update-ajax'%}",
            "fnServerParams": function ( aoData ) {
                aoData.push( { "name": "pk", "value": {{ event.id }} } );
            },
            "rowCallback": function( row, data, index ) {

                $('#id_flags').each(function(){

                    $.each($(this).val().split(' '), function(){

                        var split = this.split('/');

                        if (data['Measurement'] == split[0] && data['Target'] == split[1] && data['ISP'] == split[2] && data['IP Address'] == split[3] && data['Measurement type'] == split[4]) 
                        {
                            $(row).addClass('selected');
                        }
                    });
                });
            },
            "aoColumns": [
                { "mData": "Measurement" },
                { "mData": "Flag",  "mRender": function ( data ) {
                       var flag_icon = "";
                        if (data == true){
                            flag_icon = '<i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i><span class="hide">hard</span>';
                        }
                        if (data == false){
                            flag_icon = '<i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i><span class="hide">soft</span>';
                        }
                        if (data == null){
                            flag_icon = '<i class="glyphicon glyphicon-flag" style="color: gray;" aria-hidden="true"></i><span class="hide">mute</span>';
                        }

                        return flag_icon;
                    }
                },
                { "mData": 'Date' },
                { "mData": 'Target' },
                { "mData": 'ISP' },
                { "mData": "IP Address" },
                { "mData": "Measurement type" }

            ]
        });

        $('#measurement_id tbody').on('click', 'tr', function () {

            var flags = $( '#id_flags' );
            var target = $( this ).context.childNodes[3].innerText;
            var isp = $( this ).context.childNodes[4].innerText;
            var ip = $( this ).context.childNodes[5].innerText;
            var type = $( this ).context.childNodes[6].innerText;
            var measurement = $( this ).context.firstChild.firstChild.data;

            $(this).toggleClass('selected');

            if( $( this ).hasClass( 'selected' ) ){
                flags.val( flags.val() + measurement + '&' + target + '&' + isp + '&' +
                           ip + '&' + type + ' ');
            }else{
                var flag_index = flags.val().indexOf(measurement);
                flags.val(
                        flags.val().substring(
                                0,
                                flag_index
                        ) +
                        flags.val().substring(
                                flag_index + measurement.length + 
                                target.length + isp.length + 
                                ip.length + type.length + 5,
                                flags.val().length
                        )
                );
                flags.val().replace(" ", "");
            }
        });

    });

    $(function() {
            $(document).on('click', '.delete-btn', function(event) {
                event.preventDefault();
                /* Act on the event */
                var delete_id = $(this).data('id')
                var url = '/events/__ID__/delete/'.replace('__ID__', delete_id)
                $('#event-delete-form').attr('action', url);
            });
        })
</script>
{% endblock %}