{% extends 'dashboard/layout.html' %}
{% load key_value %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post">
                {% csrf_token %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Event</h3>
                    </div>
                    <div class="box-body">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                {% for non_field_error in form.non_field_errors %}
                                    {{ non_field_error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% bootstrap_field form.identification %}
                        {% bootstrap_field form.open_ended %}
                        {% bootstrap_field form.flags %}
                        <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Select Measurement(s)</h3>
                </div>
                <div class="box-body">
                    <div class="responsive-table">
                        <table id="measurement_id">
                            <thead>
                                <th>Measurement</th>
                                <th>Flag</th>
                                <th>Date</th>
                                <th>Target</th>
                                <th>ISP</th>
                                <th>IP Address</th>
                                <th>Measurement type</th>
                            </thead>
                            <tfoot>
                                <th>Measurement</th>
                                <th>Flag</th>
                                <th>Date</th>
                                <th>Target</th>
                                <th>ISP</th>
                                <th>IP Address</th>
                                <th>Measurement type</th>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
                    </div>
                    <div class="box-footer text-right">
                        <input class="btn btn-flat btn-primary" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {

        $( '#id_flags' ).val('');

        var table = $('#measurement_id').DataTable({
            "order": [[ 0, "desc" ]],
            "bPaginate": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/events/create-ajax/",
            "aoColumns": [
                { "mData": "Measurement" },
                { "mData": "Flag",  "mRender": function ( data ) {
                        if (data){
                            return '<i class="glyphicon glyphicon-flag" style="color: red;" aria-hidden="true"></i>';
                        }
                        else{
                            return '<i class="glyphicon glyphicon-flag" style="color: yellow;" aria-hidden="true"></i>';

                        }
                    }
                },
                { "mData": 'Date' },
                { "mData": 'Target' },
                { "mData": 'ISP' },
                { "mData": "IP Address" },
                { "mData": "Measurement type" }

            ]
        });

        $('#measurement_id tbody').on('click', 'tr', function () {

            var flags = $( '#id_flags' );
            var measurement = $( this ).context.firstChild.firstChild.data;

            $(this).toggleClass('selected');

            if( $( this ).hasClass( 'selected' ) ){
                flags.val( flags.val() + measurement + ' ' );
            }else{
                var flag_index = flags.val().indexOf(measurement);
                flags.val(
                        flags.val().substring(
                                0,
                                flag_index
                        ) +
                        flags.val().substring(
                                flag_index + measurement.length + 1,
                                flags.val().length
                        )
                );
            }
        });

    })
</script>
{% endblock %}