{% load static %}

<!-- Logo -->
<a href="{% url 'dashboard:home' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        <img src="{% static "img/VEsinFiltro-logo.svg" %}" height="20px">
<!--     <b></b> -->
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
            <img src="{% static "img/VEsinFiltro-logo.svg" %}" height="40px">

        <b>Case manager</b>
    </span>
</a>
{% include "dashboard/header_navbar.html" %}
