{% extends "dashboard/base.html" %}
{% load static %}

{% block wrapper %}
    <!-- Main Header -->
    <header class="main-header">
        {% block header %}
            {% include "dashboard/header.html" %}
        {% endblock header %}
    </header>
    <!-- End Main Header -->
    <!-- =============================================== -->

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% block sidebar %}
                {% include "dashboard/left_sidebar.html" %}
            {% endblock sidebar %}
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- End Left side column -->
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content_wrapper %}
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header %}
                    {% block content_header_title %}
                        {% if page_header %}
                        <h1>
                            {{page_header}}
                            <small>{{page_header_description}}</small>
                        </h1>
                        {% else %}
                        <h1>
                            Page Header <small>Optional description</small>
                        </h1>
                        {% endif %}
                    {% endblock content_header_title %}
                    {% block content_header_breadcrumbs %}
                        {% if breadcrumb %}
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i> Dashboard
                            </li>
                                {% for bread in breadcrumb %}
                                    {% if forlopp.last %}
                                        <li class="active">Here</li>
                                    {% else %}
                                        <li> {{bread}}</li>
                                    {% endif %}
                                {% endfor %}
                        </ol>
                        {% else %}
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level 1</a></li>
                            <li><a href="#">Level 2</a></li>
                            <li class="active">Here</li>
                        </ol>
                        {% endif %}
                    {% endblock content_header_breadcrumbs %}
                {% endblock content_header %}
            </section> <!-- End Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">
                {% block content %}{% endblock content %}
            </section><!-- /.content -->
        {% endblock content_wrapper %}
    </div><!-- /.content-wrapper -->
    <!-- End Content Wrapper -->
    <!-- =============================================== -->

    <!-- Main Footer -->
    {% block footer %}
        <footer class="main-footer">

            {% block footer_copyright %}
                <a href="http://veinteligente.org">
                    <img src="{% static "img/logo-vi.png" %}">
                    {# <strong>{% now "Y" %} VE inteligente</strong> #}
                </a>
            {% endblock footer_copyright %}
        </footer>
    {% endblock footer %}
    <!-- End Main Footer -->
    <!-- =============================================== -->

{% comment %} 
    <!-- Control Sidebar -->
    {% block control_sidebar %}
        <aside class="control-sidebar control-sidebar-dark">
            {% include "dashboard/right_sidebar.html" %}
        </aside><!-- /.control-sidebar -->
        <!--
            Add the sidebar's background. This div must be placed
            immediately after the control sidebar
        -->
        <div class="control-sidebar-bg"></div>
    {% endblock control_sidebar %}
    <!-- End Control Sidebar -->
{% endcomment %} 

    <!-- =============================================== -->
{% endblock wrapper %}
