<li class="header">MENÚ</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-fw fa-heartbeat"></i> <span class="opt-name">Pacientes</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href=""><i class="fa fa-fw fa-heartbeat"></i> <span class="opt-name">Crear paciente</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Listar pacientes</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-fw fa-flask"></i> <span class="opt-name">Medicamentos</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href=""><i class="fa fa-fw fa-flask"></i> <span class="opt-name">Crear medicamento</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Listar medicamentos</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-fw fa-gears"></i> <span class="opt-name">Configuraciones</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-fw fa-users"></i> <span class="opt-name">Usuarios</span>
                <span class="pull-right-container"><i class="fa fa-fw fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-fw fa-user-plus"></i> <span class="opt-name">Crear usuario</span></a></li>
                <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Listar Usuarios</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-fw fa-comments"></i> <span class="opt-name">Tipos de comentarios</span>
                <span class="pull-right-container"><i class="fa fa-fw fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-fw fa-comment"></i> <span class="opt-name">Examen físico específico</span></a></li>
                <li><a href=""><i class="fa fa-fw fa-comment"></i> <span class="opt-name">Examen Funcional</span></a></li>
            </ul>
        </li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Regiones del cuerpo</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de antecedentes</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de diagnósticos</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de hábitos</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de motivos de consulta</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de tratamientos</span></a></li>
    </ul>
</li>
