<!-- <li class="header">HOME</li> -->
<li class="treeview">
    <a href="#">
        <span class="opt-name">Measurements</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'measurements:measurement_front:measurement-table' %}"><span class="opt-name">All</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:dns-table' %}"><span class="opt-name">DNS</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:tcp-table' %}"><span class="opt-name">TCP</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:http-table' %}"><span class="opt-name">HTTP</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:list-report' %}"><span class="opt-name">Reports</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <span class="opt-name">Events</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'events:event_front:list-event' %}"><span class="opt-name">List Events</span></a></li>
        <li><a href="{% url 'events:event_front:create-event' %}"><span class="opt-name">New Event</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <span class="opt-name">Cases</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'cases:case_front:list-case' %}"><span class="opt-name">List Cases</span></a></li>
        <li><a href="{% url 'cases:case_front:create-case' %}"><span class="opt-name">New Case</span></a></li>
        <li><a href="{% url 'cases:case_front:create-case-from-events' %}"><span class="opt-name">New Case from events</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <span class="opt-name">Muted Inputs</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'measurements:measurement_front:list-muted-input' %}"><span class="opt-name">List Muted Inputs</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:create-muted-input' %}"><span class="opt-name">New Muted Input</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <span class="opt-name">Probes</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'measurements:measurement_front:list-probe' %}"><span class="opt-name">List Probes</span></a></li>
        <li><a href="{% url 'measurements:measurement_front:create-probe' %}"><span class="opt-name">New Probe</span></a></li>
    </ul>
</li>
<li>
    <a href="{% url 'users:user_front:api-users-list' %}"><span class="opt-name">API Users</span></a>
</li>
<!-- <li class="treeview">
    <a href="#">
        <i class="fa fa-fw fa-flask"></i> <span class="opt-name">Medicamentos</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu">
        <li><a href=""><i class="fa fa-fw fa-flask"></i> <span class="opt-name">Crear medicamento</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Listar medicamentos</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-fw fa-gears"></i> <span class="opt-name">Configuraciones</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-fw fa-users"></i> <span class="opt-name">Usuarios</span>
                <span class="pull-right-container"><i class="fa fa-fw fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-fw fa-user-plus"></i> <span class="opt-name">Crear usuario</span></a></li>
                <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Listar Usuarios</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-fw fa-comments"></i> <span class="opt-name">Tipos de comentarios</span>
                <span class="pull-right-container"><i class="fa fa-fw fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-fw fa-comment"></i> <span class="opt-name">Examen físico específico</span></a></li>
                <li><a href=""><i class="fa fa-fw fa-comment"></i> <span class="opt-name">Examen Funcional</span></a></li>
            </ul>
        </li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Regiones del cuerpo</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de antecedentes</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de diagnósticos</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de hábitos</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de motivos de consulta</span></a></li>
        <li><a href=""><i class="fa fa-fw fa-list"></i> <span class="opt-name">Tipos de tratamientos</span></a></li>
    </ul>
</li> -->
