
<!-- Sidebar user panel (optional) -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="http://placehold.it/50x50" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{{ user.get_full_name }}</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<!-- End Sidebar user panel (optional) -->

<!-- search form (Optional) -->
<form action="#" method="get" class="sidebar-form">
    <div id="left-sidebar-menu" class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
<!-- /.search form -->

<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    {% block left_sidebar_menu %}
        {% include 'dashboard/left_sidebar_menu.html' %}
    {% endblock left_sidebar_menu %}
</ul>
<!-- /.sidebar-menu -->

