{% extends "dashboard/base.html" %}

{% load i18n static bootstrap3 widget_tweaks %}

{% block style %}
    <style>
        @media (min-width:768px) {
            .login-box {width:420px}
        }
    </style>
{% endblock style %}

{% block skin_class %}{% endblock skin_class %}

{% block extra_body_class %}login-page{% endblock extra_body_class %}

{% block pre_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'dashboard:login' %}"><b>VSF</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% if validlink %}
                <h2 class="text-center">{% trans "Restablecer Contraseña" %}</h2>
                <p class="login-box-msg">
                    {% trans "Por favor, ingrese su nueva contraseña." %}
                </p>
                <form method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    <div class="form-group has-feedback">
                        {% render_field form.new_password1 class+="form-control" placeholder="Nueva Contraseña" required="required" %}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        {% render_field form.new_password2 class+="form-control" placeholder="Confirmar Contraseña" required="required" %}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-5 col-xs-7">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans "Restablecer Contraseña" %}</button>
                        </div> <!-- /.col -->
                    </div>
                </form>
            {% else %}
                <p>{% trans "El enlace para restablecer su contraseña es inválido, posiblemente porque ya fue utilizado. Por favor, solicite nuevamente el restablecimiento de su contraseña." %}</p>
            {% endif %}

            <a href="{% url 'dashboard:login' %}">Ir a iniciar sesión</a>
            {% if not validlink %}
                <br>
                <a href="{% url 'dashboard:password_reset' %}">Volver a recuperar contraseña</a>
            {% endif %}
        </div> <!-- /.login-box-body -->
    </div> <!-- /.login-box -->
{% endblock pre_wrapper %}
