{% extends "dashboard/base.html" %}

{% load i18n static bootstrap3 widget_tweaks %}

{% block style %}
    <style>
        @media (min-width:768px) {
            .login-box {width:420px}
        }
    </style>
{% endblock style %}

{% block skin_class %}{% endblock skin_class %}

{% block extra_body_class %}login-page{% endblock extra_body_class %}

{% block pre_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'dashboard:login' %}"><b>VSF</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h2 class="text-center">{% trans "¿Olvidó su contraseña?" %}</h2>
            <p class="login-box-msg">
                {% trans "Por favor, ingrese su dirección de correo electrónico registrada y le será enviado un enlace para que pueda restablecer su contraseña." %}
            </p>
            <form action="{% url 'dashboard:password_reset' %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="form-group has-feedback">
                    {% render_field form.email class+="form-control" placeholder="Correo Electrónico" required="required" %}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-offset-7 col-xs-5">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans "Enviar" %}</button>
                    </div> <!-- /.col -->
                </div>
            </form>

            <a href="{% url 'dashboard:login' %}">Ir a iniciar sesión</a>
        </div> <!-- /.login-box-body -->
    </div> <!-- /.login-box -->
{% endblock pre_wrapper %}
