{% extends "dashboard/base.html" %}

{% load i18n static bootstrap3 widget_tweaks %}

{% block style %}
    <style>
        @media (min-width:768px) {
            .login-box {width:420px}
        }
        .login-box-msg{text-align:justify;}
    </style>
{% endblock style %}

{% block skin_class %}{% endblock skin_class %}

{% block extra_body_class %}login-page{% endblock extra_body_class %}

{% block pre_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'dashboard:login' %}"><b>VSF</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h2 class="text-center">{% trans "Restablecimiento de contraseña enviado" %}</h2>
            <p class="login-box-msg text-justify">
                {% blocktrans %}
                    Le hemos enviado por correo electrónico las instrucciones para restablecer su contraseña,
                    si existe una cuenta con la dirección electrónica que indicó, debería recibirlas en breve.
                {% endblocktrans %}
            </p>
            <p class="login-box-msg text-justify">
                {% blocktrans %}
                    Si no recibe un correo, por favor, asegúrese que ha introducido la dirección de correo correcta y verifique su carpeta de correo no deseado o spam.
                {% endblocktrans %}
            </p>
            <a href="{% url 'dashboard:login' %}">Ir a iniciar sesión</a>
            <br>
            <a href="{% url 'dashboard:password_reset' %}">Volver a recuperar contraseña</a>
        </div> <!-- /.login-box-body -->
    </div> <!-- /.login-box -->
{% endblock pre_wrapper %}
