{% extends "dashboard/base.html" %}

{% load i18n static bootstrap3 widget_tweaks %}

{% url 'dashboard:login' as login_url %}

{% block style %}
    <style>
        @media (min-width:768px) {
            .login-box {width:420px}
        }
        .login-box-msg{text-align:justify;}
    </style>
{% endblock style %}

{% block skin_class %}{% endblock skin_class %}

{% block extra_body_class %}login-page{% endblock extra_body_class %}

{% block pre_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'dashboard:login' %}"><b>VSF</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h2 class="text-center">{% trans "Contraseña restablecida" %}</h2>
            <p class="login-box-msg text-justify">
                {% blocktrans %}
                    Su contraseña ha sido restablecida de forma exitosa.
                    Ahora puede <a href="{{ login_url }}">iniciar sesión</a> con su nueva contraseña.
                {% endblocktrans %}
            </p>
            <p class="login-box-msg text-justify">
                <a href="{{ login_url }}">Ir a iniciar sesión</a>
            </p>
        </div> <!-- /.login-box-body -->
    </div> <!-- /.login-box -->
{% endblock pre_wrapper %}
